@page "/raizquadrada"

<h1>Raiz Quadrada</h1>

<p>Current count: @resutado</p>

<input type="number" min="0" bind="@valor"/>
<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

@functions {
    int valor;
    double resutado = 0;

    void IncrementCount()
    {
        resutado = Convert.ToSingle(Math.Sqrt(valor));
    }
}
